.card {
  width: 100%;
  max-width: 420px;
  margin: 36px auto;
  padding: 33px 36px 29px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 3px;

  width: 100%;
  margin-bottom: 12px;
}

.checkbox {
  margin-bottom: 6px;
  margin-left: -6px;
}

.title {
  margin-bottom: 27px;
  text-align: center;
}

.recoverPasswordLink,
.recoverPasswordLink:visited {
  cursor: pointer;

  display: flex;
  justify-content: flex-end;

  width: 100%;
  margin-bottom: 66px;

  color: inherit;
  text-align: right;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  margin-bottom: 20px;
}

.caption {
  margin-bottom: 11px;
  color: var(--color-light-900);
  text-align: center;
}

.signUpLink {
  cursor: pointer;

  display: flex;
  justify-content: center;

  font-size: var(--font-size-m);
  font-weight: var(--font-weight-bold);
  color: var(--color-accent-500);

  &:visited {
    color: var(--color-accent-500);
  }

  &:hover {
    text-decoration: none;
  }
}
