

.button {
  position: fixed;
  z-index: 10;
  top: 100px;
  right: 0;

  width: 40px;
  height: 40px;

  font-weight: 600;
  color: black;
  text-align: center;

  background: #f3f6f9;
  border-radius: 8px 0 0 8px;
}