.button {
  position: fixed;
  z-index: 10;
  top: 100px;
  right: 0;

  width: 40px;
  height: 40px;

  font-weight: 600;
  color: var(--color-dark-900);
  text-align: center;

  background: var(--color-light-100);
  border-radius: 8px 0 0 8px;
  &:hover {
    transform: translateY(-4px);
  }
}
