.info {
  margin-bottom: 36px;
  padding-right: 10px;
}

.selectWrap {
  position: relative;
  z-index: 100;
  padding-right: 10px;
}

.select {
  margin-bottom: 24px;
  background-color: var(--color-dark-700);
}

.input {
  margin-bottom: 4px;
}
