.deckCover {
  cursor: pointer;
  display: flex;
  gap: 10px;
  align-items: center;
  &:hover {
    opacity: 0.5;
  }
  .image {
    max-width: 200px;
    max-height: 50px;
  }
}

.name {
  width: 261px;
  text-align: left;
}

.cards {
  width: 141px;
  text-align: left;
}

.updated {
  width: 201px;
  text-align: left;
}

.createdBy {
  width: 286px;
  text-align: left;
}

.icons {
  width: 117px;
  text-align: left;
}
