.button {
  all: unset;

  cursor: pointer;

  margin-left: 5px;

  font-size: inherit;
  font-weight: 400;
  line-height: inherit;
  color: var(--color-info-300);
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}
