.dots {
  cursor: pointer;

  &:focus-visible {
    outline: var(--outline-focus);
  }

  &:disabled {
    cursor: initial;
    opacity: 1;
  }

  &:hover:not(&:disabled) {
    background-color: var(--color-bg-focus);
  }

  &.selected {
    color: var(--color-text-primary-contrast);
    background-color: var(--color-bg-contrast);
  }
}
