.main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 420px;
  padding: 33px 36px 60px;
  background-color: var(--color-dark-700);
}

.title {
  margin-bottom: 51px;
  color: var(--color-light-100);
}

.input {
  width: 100%;
  margin-bottom: 2px;
}

.info {
  margin-bottom: 40px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.buttonText {
  color: var(--color-light-100);
}

.button {
}
