.deckCover {
  display: flex;
  align-items: center;
  gap: 10px;
}
.name {
  width: 261px;
  text-align: left;
}
.cards {
  width: 141px;
  text-align: left;
}
.updated {
  width: 201px;
  text-align: left;
}
.createdBy {
  width: 286px;
  text-align: left;
}
.icons {
  width: 117px;
  text-align: left;
}
