
.root {
  .backBtn {
    cursor: pointer;

    display: flex;
    gap: 6px;
    align-items: center;

    max-width: 137px;
    margin-top: 24px;
    margin-bottom: 33px;


    &:hover {
      text-decoration: underline;
    }
  }

  .title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .cover {
    margin-bottom: 25px;
  }

  .input {
    margin-bottom: 24px;
  }

  .empty {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    margin-top: 70px;

    p {
      color: var(--color-dark-100);
    }

  }
}