.question {
  width: 301px;
  text-align: left;
}

.answer {
  width: 301px;
  text-align: left;
}

.lastUpdatedMy {
  width: 131px;
  text-align: left;
}

.lastUpdatedOther {
  width: 201px;
  text-align: left;
}

.icons {
  width: 105px;
  text-align: left;
}

/* 201
203 */
.gradeMy {
  width: 168px;
  text-align: left;
}

.gradeOther {
  width: 203px;
  text-align: left;
}

.image {
  max-width: 150px;
  max-height: 50px;
}
