.question {
  text-align: left;
  width: 301px;
}
.answer {
  text-align: left;
  width: 301px;
}
.lastUpdatedMy {
  text-align: left;
  width: 131px;
}
.lastUpdatedOther {
  text-align: left;
  width: 201px;
}
.icons {
  text-align: left;
  width: 105px;
}
/*201
203*/
.gradeMy {
  text-align: left;
  width: 168px;
}
.gradeOther {
  text-align: left;
  width: 203px;
}
