.question {
  width: 276px;
  text-align: left;
}

.answer {
  width: 276px;
  text-align: left;
}

.lastUpdatedMy {
  width: 181px;
  text-align: left;
}

.lastUpdatedOther {
  width: 251px;
  text-align: left;
}

.icons {
  width: 105px;
  text-align: left;
}

/* 201
203 */
.gradeMy {
  width: 168px;
  text-align: left;
}

.gradeOther {
  width: 203px;
  text-align: left;
}

.image {
  max-width: 150px;
  max-height: 50px;
}
