.root {
  display: flex;
  align-items: center;
  justify-content: center;
  //min-height: 500px;

  .backBtn {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.loader {
  z-index: 1;
  top: 55px;
}
