.wrap {
  width: 100%;
  max-width: 420px;
  margin-top: 60px;
  padding: 16px 36px 20px;

  background: var(--color-dark-700);
}

.title {
  margin-bottom: 15px;
  text-align: center;
}

.question {
  margin-bottom: 3px;
}

.efforts {
  margin-bottom: 35px;
}

.button {
  margin-top: 5px;
}

.radio {
  margin-bottom: 30px;
  margin-left: -10px;
}

.mb {
  margin-bottom: 12px;
}

.close {
  margin-top: 25px;
}
