.wrap {
  width: 100%;
  max-width: 420px;
  padding: 36px 36px 48px;
  background: var(--color-dark-700);
}

.title {
  margin-bottom: 45px;
  text-align: center;
}

.question {
  margin-bottom: 3px;
}

.efforts {
  margin-bottom: 45px;
}

.button {
  margin-top: 5px;
}

.radio {
  margin-bottom: 30px;
  margin-left: -10px;
}

.mb {
  margin-bottom: 12px;
}
