.main {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;

  width: 420px;
  height: 456px;
  padding: 33px 36px 30px;

  background-color: var(--color-dark-700);
}

.title {
  margin-bottom: 51px;
  color: var(--color-light-100);
}

.input {
  width: 100%;
  margin-bottom: 2px;
}

.info {
  margin-bottom: 65px;
  color: var(--color-light-900);
  opacity: 0.5;
}

.buttonText {
  color: var(--color-light-100);
}

.button {
  margin-bottom: 20px;
}

.sub {
  margin-bottom: 11px;
  color: var(--color-light-900);
}

.log {
  cursor: pointer;

  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  color: var(--color-accent-500);
  text-decoration-line: underline;
}
