/* reset */
button {
  all: unset;
}

.Toggle {
  position: fixed;
  z-index: 10;
  top: 150px;
  right: 0;
  background-color: var(--color-accent-500);
  color: var(--color-dark-900);
  height: 35px;
  width: 35px;
  border-radius: 8px 0 0 8px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  &:hover {
    transform: translateY(-4px);

    box-shadow: 0 2px 10px var(--color-accent-500);
  }

  &:focus {
    box-shadow: 0 0 0 2px black;
  }
}
